@mixin bold {
    font-family: 'poppinsbold';
    font-size: 64px;
    line-height: 76px;
}

@mixin text-format($width, $font-size, $line-height, $color) {
    @if $width==400 {
        font-family: 'poppinsregular';
    }
    @else if $width==500 {
        font-family: poppins_mediumregular;
    }
    @else if $width==600 {
        font-family: 'poppins_semiboldregular';
    }
    @else if $width==700 {
        font-family: 'poppinsbold';
    }
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}