$whiteText: #FFFFFF;
$blackText: #000000;
$darkGrayText: #9DA1B4;
$lightGrayText: #F4F6FA;
$placeholderColor: #70717B;
$siteColor: #FFC814;
@mixin button-style() {
    width: 160px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    @include text-format(600, 16px, 24px, $blackText);
}