@import 'vars';
@import 'text_style';
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

.center {
    padding-left: calc(50% - 660px);
    padding-right: calc(50% - 660px);
}

.landing {
    background-image: url(img/Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 114px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    align-items: center;
    &__label {
        @include text-format(600, 36px, 54px, $whiteText);
    }
    &__nav {
        display: flex;
        gap: 38px;
        align-items: baseline;
        &_menu {
            display: flex;
            gap: 35px;
            @include text-format(600, 16px, 24px, $whiteText);
        }
        &_log {
            display: flex;
            align-items: center;
            gap: 27px;
            @include text-format(600, 16px, 24px, $whiteText);
        }
    }
    &__link {
        transition: 0.5s;
        &:hover {
            color: $siteColor;
        }
    }
}

.button {
    @include button-style();
    &__yellow {
        background-color: $siteColor;
        &_bold {
            font-family: 'poppinsbold'
        }
    }
    &__white {
        background-color: $whiteText;
    }
}

.button-white {
    @include button-style();
}

.content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    &__title {
        @include text-format(700, 64px, 76px, $whiteText);
    }
    &__text {
        @include text-format(400, 16px, 30px, $whiteText);
    }
    &__buttons {
        padding-top: 20px;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }
}

.booking {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -111px;
    z-index: 1;
    width: -webkit-fill-available;
    &__nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background-color: #FFFFFF;
        border: none;
        border-radius: 4px 4px 0px 0px;
        padding-left: 10px;
        width: 120px;
        height: 45px;
        @include text-format(600, 16px, 24px, $blackText);
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: $siteColor;
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 54px;
        padding: 38px 30px;
        background-color: #FFFFFF;
        box-shadow: 0px 6px 24px #E4E2EE;
    }
    &__details {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__title {
        @include text-format(600, 16px, 24px, $blackText);
    }
    &__input {
        width: 170px;
        height: 56px;
        border: none;
        box-shadow: 0px 6px 24px #E4E2EE;
        &::placeholder {
            @include text-format(400, 16px, 15px, $placeholderColor);
            padding-left: 10px;
        }
    }
}

.negative-margin {
    margin-left: -20px;
}

.bold-text {
    font-family: 'poppinsbold';
}

.box {
    &__background {
        position: relative;
        top: 72px;
        z-index: -1;
    }
    &__content {
        display: flex;
        flex-direction: row;
        margin-top: -131px;
        margin-right: -244px;
        align-items: flex-end;
        padding-bottom: 126px;
    }
}

.pictures {
    position: relative;
    &__back {
        border-radius: 14px;
        filter: drop-shadow(0px 6px 24px #E4E2EE);
    }
    &__front {
        position: absolute;
        top: 297px;
        left: 311px;
        filter: drop-shadow(0px 6px 24px #E4E2EE);
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 213px;
    padding-right: 29px;
    &__label {
        font-family: 'quick_kiss_personal_useRg';
        color: $siteColor;
        font-weight: 400;
        font-size: 24px;
        line-height: 15px;
        padding-bottom: 10px;
    }
    &__title {
        @include text-format(700, 36px, 48px, #1F3347);
        text-transform: capitalize;
        padding-bottom: 29px;
    }
    &__text {
        @include text-format(400, 16px, 24px, $darkGrayText);
        padding-bottom: 19px;
    }
    &__list {
        @include text-format(400, 16px, 36px, $darkGrayText);
        padding-bottom: 32px;
        list-style-type: none;
        svg {
            fill: $darkGrayText;
            width: 14px;
            height: 14px;
        }
    }
    &__point {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: baseline;
    }
    &__benefits {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    &__benefit {
        display: flex;
        flex-direction: column;
        gap: 7px;
        max-width: min-content;
    }
    &__yellow-text {
        @include text-format(700, 36px, 28px, $siteColor);
    }
    &__gray-text {
        @include text-format(500, 16px, 24px, $darkGrayText);
    }
}

.right-side {
    &__picture {
        max-width: 18vw;
    }
}